
// Numbers are in order of intensity
// Only 3 tones per colour allowed!

$white1: #FAFAFA;
$white2: #ECECEC;
$white3: #EBE4D1;

$grey1: #292929;
$grey2: #707070;
$grey3: #C2BFBB;
$grey4: #1D1D1D;

$black1: #020202;
$black2: #080808;
$black3: #0E0E0E;
$black4: #030307;

$red1: #C41B1B;

$blue1: #07080D;
$blue2: #16171D;
$blue3: #13A3FF;

$linkColor1: #489BDA;
$linkColor2: #6D92B8;
$linkColor3: #16528A;

/* colors for the status of the player */
$incompleteColor: #C5B773;

$passedColor: #00BF04;
$expertColor: #BAFF00;
$masterColor: #C765FF;


$drawer-width: 20em;

@import "reset",
        "general",
        "main_view",
        "slidebar",
        "drawer",
        "radio_tabs",
        "input_styles",
        "media_queries",
        "noscript",
        "dark",
        "word_generator"