/*

    This stylesheet only handles the COLORS
    for the dark theme.

 */


body[dark] {
    color: #eee;
    background: #020202;
}

body[dark] input[type=button], body[dark] button {
    color: #ECECEC;
    background: #535353;
}

body[dark] .settings input[name=theme]:hover {
    color: #000 !important;
    background: #D8D8D8 !important;
}

body[dark] .maincolumn {
    border-left: 0.2em solid #aaa;
}

body[dark] main p.generated {
    color: #F0ECE2;
}

body[dark] main input[type=text] {
    background: #C2BFBB;
    border: none;
}

body[dark] main .numbar a.skip {
    color: #fafafa;
}

body[dark] footer {
    color: #333333;
}

body[dark] footer:hover {
    color: #777;
}
