/* General Styles and Layout */

* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    font-family: Trebuchet MS, Arial, sans-serif;
}

.menucolumn {
    flex: 1;
    display: flex;
    flex-direction: column;

    background: #3B3B3B;
    border: 1px solid #111;
    color: #eee;

    box-shadow: 0.1em 0 0.2em #444;
}
.maincolumn {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* MENU BLOCK */

.menucolumn .logo {
    padding: 0.9em 0.8em;
    background: #111;

    text-align: center;
    font-family: Arial;
    font-size: 150%;
    font-weight: 600;
    line-height: 0.8;

    text-shadow: 0.1em 0.1em 0.3em #000;
}

.menucolumn .logo small {
    font-size: 50%;
    font-weight: normal;
}
.menucolumn .logo small a { color: #B0DDFF; }

.menucolumn .readout, .menucolumn .stagebanner {
    line-height: 1.4;
    background: #222;
    padding: 0.5em 0.8em;
}

.menucolumn .readout p.levelinfo {
    color: #ccc;
    font-size: 80%;
}

.menucolumn .stagebanner { cursor: pointer; }
.menucolumn .stagebanner:hover { background: #1E1E1E; }
.menucolumn .stagebanner:active { background: #0E0E0E; }

    /* Scores */

.menucolumn .readout .highscore, .menucolumn .readout .score  {
    line-height: 1.2;
    color: #999;
    margin-bottom: 0.2em;
    font-size: 75%;
    font-weight: bold;
}
.menucolumn .readout .score { font-size: 90%; }
.menucolumn .readout .score::before {
    content: "Score: ";
    color: #777;
}
.menucolumn .readout .highscore::before {
    content: "Highest score: ";
    color: #777;
}

.menucolumn .select {
    flex: 1;
    padding: 0.5em 0.8em;
    -webkit-user-select: none;
}

.menucolumn .select i { font-size: 80%; letter-spacing: 1px; }
.menucolumn .select ul { list-style: none; }

.menucolumn .select ul li { transition: all 100ms; }
.menucolumn .select ul li:hover { color: #ccc; text-shadow: 0 0 1px #000; }
.menucolumn .select ul li:active { color: #6D92B8; text-shadow: 0 0 1px #16528A; }
.menucolumn .select ul li[selected] { color: #eee; }
.menucolumn .select ul li { margin: 0.5em 0; color: #aaa; cursor: pointer; }

.menucolumn .select ul li[selected] small { color: #bbb; }
.menucolumn .select ul li small { color: #999; }

.menucolumn .select ul li span { vertical-align: middle; font-size: 50%; }
.menucolumn .select ul li span[done]::before { content: 'passed'; color: #87E911; }
.menucolumn .select ul li span[not-done]::before { content: 'incomplete'; color: #E9AF11; }
.menucolumn .select ul li span[not-tried]::before { content: ''; color: #868686; }

.menucolumn .select ul li h4 span::before { content: "Highest score: "; }
.menucolumn .select ul li h4 span { font-size: 60%; }


.menucolumn .settings {
    display: flex;
    background: #111;
    padding: 0.8em 0.4em;
}

.menucolumn .settings input[name=theme], .menucolumn .settings input[name=reset] {
    flex: 1;
    cursor: pointer;
    margin: 0 0.2em;
    background: #040404;
    padding: 0.5em;
    color: #D7D7D7;
    border-width: 1px;
    border-color: #888;
    border-radius: 0.2em;
    transition: all 70ms;
}

.menucolumn .settings input[name=reset]:active {
    color: #8F0000 !important;
}
.menucolumn .settings input[name=reset]:hover {
    color: #fff;
    font-weight: 600;
    background: #FF0000 !important;
}
.menucolumn .settings input[name=theme]:hover {
    color: #909090 !important;
}

/* MAIN BODY STYLING */

main {
    width: 50%;
    min-width: 20em;
    max-width: 40em;
}

main div.skip {
    text-align: right;
    font-size: 70%;
    margin-bottom: 0.2em;
}
main div.skip a {
    cursor: pointer;
}

main p.generated {
    margin-bottom: 0.2em;
    text-align: center;
    font-size: 500%;
    font-weight: bold;
    color: #222;
}


main input[type=text] {
    padding: 0.3em 0.2em;
    color: #222;
    text-align: center;
    border: 1px solid #000;
    border-radius: 0.3em;
    width: 99%;
}

/* FOOTER */

footer {
    margin-top: 2em;
    font-size: 80%;
    font-style: italic;
    letter-spacing: 1px;
    color: #bbb;
}



/* NO SCRIPT ACESSABILITY STUFFS */

noscript {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 40% 0;
}

noscript .no-js {
    background: #111;
    background: rgba(0,0,0,0.8);
    color: #fafafa;
    padding: 2em;
}

noscript .no-js a {
    color: #007DCC;
}