/* DRAWER STYLES */

#drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -$drawer-width;
    width: $drawer-width;
    min-width: 18rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background: $ggrey1;
    border-right: 1px solid $grey4;

    color: $white2;
    transition: left 410ms;
    transition-timing-function: ease-out-quadratic;
    z-index: 1;

    & .logo {
        padding: 1.5rem 0.8rem;

        text-align: center;
        font-family: Arial;
        font-size: 150%;
        font-weight: 600;
        line-height: 0.8;
        text-shadow: 0.1rem 0.1rem 0.3rem $black1;

        background: $black2;
        cursor: default;

        & small {
            font-size: 50%;
            font-weight: normal;
        }
    }
}

label[for="drawer-toggle"] {
    display: block;
    position: fixed;
    height: 2.2rem;
    width: 2.2rem;
    margin: 1rem;
    left: 0;

    cursor: pointer;
    user-select: none;
    z-index: 1;

    transition: left 410ms, opacity 210ms;
    transition-timing-function: ease-out-quadratic;

    & .hamburger {
        display: block;
        position: absolute;
        top: 0.7rem;
        height: 0.24rem;
        width: 2.2rem;

        background: $grey1;
        transition: background 500ms 300ms, box-shadow 210ms, opacity 500ms 300ms, transform 500ms 300ms;

        &:before, &:after {
            content: '';
            position: inherit;
            width: 2.2rem;
            height: 0.24rem;

            background: $grey1;
            transition: width 800ms 300ms, transform 500ms 300ms;
        }
        &:before {
            top: -0.7rem;
        }
        &:after {
            top: 0.7rem;
        }
    }
}

/* DRAWER LOGIC */

#drawer-toggle {
    display: none;
}

#drawer-toggle:checked {
    & ~ label[for="drawer-toggle"] {
        left: $drawer-width;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }

        & .hamburger {
            background: none;
            transform: translateX(-5rem);
            &:before, &:after {
                background: $grey1;
                width: 1.5rem;
            }
            &:before {
                transform: translateY(0.68rem) translateX(5rem) rotateZ(-43deg);
            }
            &:after {
                transform: translateY(-0.68rem) translateX(5rem) rotateZ(43deg);
            }
        }
    }

    & ~ #drawer {
        left: 0;
        box-shadow: 0.3rem 0 0.5rem $grey2;
    }

    & ~ .maincolumn {
        padding-left: $drawer-width;
    }
}

/* TAB STYLES */

#drawer-tabs {
    display: flex;
    flex-direction: column;
    flex: 1;

    & .tab-buttons {
        display: flex;
        position: relative;
        width: 100%;
        flex-shrink: 0;


        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 33%;
            height: 0.2rem;
            background: $blue1;
            transition: left 210ms, background 200ms;
        }

        & label {
            flex: 1;
            padding: 1rem 0.4rem;
            cursor: pointer;
            user-select: none;

            color: $grey5;
            text-align: center;
            vertical-align: -3rem;
            font-size: 60%;

            border-bottom: 1px solid $blue1;
            border-top: 1px solid $black1;
            background: $gblack2;

            transition: text-shadow 250ms, border-bottom 200ms;

            &:hover {
                text-shadow: 0 0 1px $white3;
            }
        }
    }

    & .tab-container {
        display: flex;
        flex: 1;
        overflow: hidden;

        & .tab-panel {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            display: none;
            overflow-y: auto;

            &.levelscolumn#tab-1 {
                color: $white2;

                & .readout, & .stagebanner {
                    flex-shrink: 0;
                    padding: 0.5rem 0.8rem;
                    line-height: 1.4;
                    background: $black1;
                }

                & .readout {
                    cursor: default;
                    background: $gblack1;
                    border-bottom: 1px solid $black1;
                    border-top: 1px solid $black1;

                    & p.levelinfo {
                        font-size: 80%;
                        color: $grey3;
                    }

                    & .highscore, & .score  {
                        margin-bottom: 0.2rem;

                        font-size: 75%;
                        font-weight: bold;
                        line-height: 1.2;
                        color: $grey2;
                    }

                    & .score {
                        font-size: 90%;

                        &::before {
                            content: "Score: ";
                            color: $grey2;
                        }
                    }

                    & .highscore::before {
                        content: "Highest score: ";
                        color: $grey2;
                    }
                }

                & .stagecolumn {
                    display: flex;
                    flex: 1;
                    flex-shrink: 0;
                    flex-direction: column;

                    & .stagebanner {
                        display: block;
                        cursor: pointer;

                        &:hover {
                            background: $black2;
                        }

                        &:active {
                            background: $black3;
                        }
                    }

                    & .select#stage-select-1, & .select#stage-select-2 {
                        display: none;
                        flex: 1;
                        flex-shrink: 0;
                        transition: padding 250ms, height 250ms;
                    }

                    & .select {
                        padding: 0.5rem 0;
                        user-select: none;

                        & i {
                            margin: 0.7rem 1.2rem;

                            font-size: 80%;
                            letter-spacing: 1px;
                        }

                        & ul {
                            list-style: none;

                            & li {
                                margin: 0;
                                padding: 0.6rem 1.2rem;

                                font-size: 95%;
                                letter-spacing: 0.02rem;
                                line-height: 0.9;
                                color: $grey2;
                                text-shadow: 0 0.01rem 0.01rem $grey1;

                                border-bottom: 1px solid $grey4;
                                cursor: pointer;
                                transition: all 100ms;

                                &:hover {
                                    color: $grey3;
                                    text-shadow: 0 0 0.2rem $black1;
                                    background: $grey1;
                                }
                                &:active {
                                    color: $linkColor2;
                                    text-shadow: 0 0 0.01rem $linkColor3;
                                }
                                &[selected] {
                                    color: $white3;
                                    text-shadow: 0 0 0.01rem $black1;

                                    & small {
                                        color: $grey3;
                                    }
                                }

                                & small {
                                    color: $grey2;
                                    font-family: monospace;
                                }

                                & span {
                                    vertical-align: baseline;
                                    font-size: 60%;

                                    &[progression="0"]::before {
                                        content: '';
                                        color: $grey2;
                                    }
                                    &[progression="1"]::before {
                                        content: ' incomplete';
                                        color: $incompleteColor;
                                    }
                                    &[progression="2"]::before {
                                        content: ' passed';
                                        color: $passedColor;
                                    }
                                    &[progression="3"]::before {
                                        content: ' expert';
                                        color: $expertColor;
                                    }
                                    &[progression="4"]::before {
                                        content: ' master';
                                        color: $masterColor;
                                    }
                                }
                                & h4 span {
                                    font-size: 60%;
                                    color: $grey2;

                                    &::before {
                                        content: " Highest score: ";
                                    }
                                }
                            }
                        }
                    }
                }

                & .settings {
                    padding: 0.6rem 1rem 0.8rem 1rem;
                    background: $black1;
                    flex-shrink: 0;

                    & h5 {
                        display: inline-block;
                        margin: 0.2rem 0 0.5rem 0;
                        transition: transform 1s 20s, font-size 2s 20s;

                        &:hover {
                            font-size: 200%;
                            transform: rotateX(15deg) rotateY(50deg) rotateZ(5*360deg);
                        }
                    }

                    & div.buttons {
                        display: flex;

                        & input[type=button]{
                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    & input[name=reset]:hover {
                        font-weight: 600;
                        color: $white1;

                        background: $red1 !important;
                    }
                    &  input[name=theme]:hover {
                        color: $white1;
                        text-shadow: 0 0 1px $white1;
                    }
                }

            }

            &.generatorscolumn#tab-2, &.referencecolumn#tab-3 {
                & .reference, & .generator {
                    flex-shrink: 0;
                    width: 90%;
                    font-size: 95%;
                    line-height: 1.6;

                    & p {
                        margin: 0.3rem 0;
                    }
                }
                & header {
                    flex-shrink: 0;
                    padding: 1rem;

                    font-size: 150%;
                    text-align: center;

                    background: $black1;
                }
            }

            &.generatorscolumn#tab-2 {
                & .generator {
                    margin: 0.8rem auto;

                    & .inputs {
                        display: flex;
                        margin: 0.4rem 0;

                        & input {
                            flex: 5;
                        }
                        & button {
                            flex: 1;
                            margin-right: 0;
                        }
                    }

                    .generated_word, .generated_nums {
                        display: block;
                        color: $grey3;
                        text-align: center;
                        margin-bottom: 0.5rem;
                    }

                    .submit_dict, .prompt_dict {
                        display: none;
                    }

                    input[type=file] {
                        margin: 0.8rem 0;
                    }

                    p {
                        margin-bottom: 0.5rem;
                        line-height: 1.2;
                        font-size: 85%;
                    }

                    & button.prompt_dict {
                        // display: block;
                        margin: 1rem auto;
                    }
                }
            }

            &.referencecolumn#tab-3 {
                flex: 1.2;
                width: 100%;

                color: $white1;

                transition: all 1s;

                & .reference {
                    margin: 0 auto 2rem auto;

                    & table {
                        width: 100%;
                        margin: 0.6rem 0;

                        background: $grey1;
                        border-collapse: collapse;
                        box-shadow: 0 0 0.4rem $black1;

                        & caption {
                            padding: 0.8rem 0rem;
                            display: none;
                        }

                        & thead th {
                            padding: 0.8rem 0.2rem;
                            border-bottom: 1px solid $grey4;
                            font-weight: normal;
                            letter-spacing: 1px;
                        }

                        & tbody td {
                            padding: 0.5rem 1rem;
                            border-bottom: 1px solid $grey4;
                            opacity: 0.9; // darken or lighten the text a little

                            &:first-child {
                                width: 6rem;

                                font-weight: 600;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* TAB LOGIC */

#drawer-tabs {
    & input[type=radio] {
        display: none;
    }

    & input[type=radio][name="drawer-tabs"][value='1']:checked {
        & ~ .tab-container .tab-panel#tab-1 {
            display: inherit;
        }
        & ~ .tab-buttons:before {
            left: 0;
        }
    }

    & input[type=radio][name="drawer-tabs"][value='2']:checked {
        & ~ .tab-container .tab-panel#tab-2 {
            display: inherit;
        }
        & ~ .tab-buttons:before {
            left: 33%;
        }
    }

    & input[type=radio][name="drawer-tabs"][value='3']:checked {
        & ~ .tab-container .tab-panel#tab-3 {
            display: inherit;
        }
        & ~ .tab-buttons:before {
            left: 66%;
        }
    }

    & .tab-container .tab-panel.levelscolumn#tab-1 {
        & input[type=radio][name="stage-tabs"][value='1']:checked {
            & ~ .stagebanner[for="stage-tab-1"] {
                background: $blue3;
            }
            & ~ .select#stage-select-1 {
                display: block;
            }
        }

        & input[type=radio][name="stage-tabs"][value='2']:checked {
            & ~ .stagebanner[for="stage-tab-2"] {
                background: $blue3;
            }
            & ~ .select#stage-select-2 {
                display: block;
            }
        }
    }
}





