
.maincolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 16.5rem;

    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;

    transition: padding-left 410ms;
    transition-timing-function: ease-out-quadratic;
}



/* MAIN BODY STYLING */

.main {
    width: 50%;
    max-width: 40rem;

    & p.generated {
        margin-bottom: 0.2rem;

        color: $grey1;
        text-align: center;
        font-size: 500%;
        font-family: serif;
        font-weight: thin;
        letter-spacing: 1px;
        white-space: nowrap;

        cursor: default;
    }

    & .numbar {
        display: flex;
        justify-content: middle;
        margin-bottom: 0.2rem;

        font-size: 70%;

        & span.count:before{
            content: "Count: ";
        }
        & span.count{
            flex: 1;
        }
        & span.spacer{
            flex: 1;
        }
        & a.skip {
            color: $grey1;
            cursor: pointer;
        }
    }
}



/* FOOTER */

footer {
    margin-top: 2rem;
    width: 80%;

    font-size: 80%;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
    color: $grey3;

    cursor: default;

    transition: color 500ms;

    &:hover {
        color: $grey1;
    }
}