
body[dark] {
    color: $white2;
    background: $black4;

    & input[type=button], & button {
        color: $white2;
        background: $night2;
    }

    & #drawer-toggle:checked ~ #drawer {
        box-shadow: none;
    }

    & #drawer-toggle:checked ~ label[for="drawer-toggle"] .hamburger{
        background: none;
        &:before, &:after {
            background: $white3;
        }
    }

    label[for="drawer-toggle"] .hamburger {
        background: $white3;
        &:before, &:after {
            background: $white3;
        }
    }

    & #drawer {
        background: $gnight1;

        #drawer-tabs .tab-buttons {
            &:before {
                background: $blue2;
            }

            label {
                border-bottom: 1px solid $blue2;
            }
        }


        & .generatorcolumn {
            & header {
                background: $black1;
            }
            & .button {
                background: $black1;
            }
        }

        & #drawer-tabs .tab-container .tab-panel.levelscolumn#tab-1 {
            & .select  ul li {
                border-bottom-color: $night2;
                &:hover{
                    background: $night1;
                }
            }
            & .settings input[name=theme]:hover {
                color: $white1;
                text-shadow: 0 0 1px $white1;
            }
        }

        & .tab-container .tab-panel.referencecolumn#tab-3 .reference {
            & table {
                background: $black3;
            }
        }
    }


    & .maincolumn {
        border-left: 0.05rem solid $black1;
    }

    & .main {
        & p.generated {
            color: $white2;
        }

        & input[type=text] {
            background: $grey3;
            border: none;
        }

        & .numbar a.skip {
            color: $white1;
        }
    }

    & footer {
        color: $grey1;
        &:hover {
            color: $grey2;
        }
    }
}
