
body[dark] {
    color: $white2;
    background: $black1;

    & input[type=button], & button {
        color: $white2;
        background: $grey2;
    }

    & .settings input[name=theme]:hover {
        color: $black1 !important;
        background: $white2 !important;
    }

    & .maincolumn {
        border-left: 0.2em solid $grey2;
    }

    & main {
        & p.generated {
            color: $white2;
        }

        & input[type=text] {
            background: $grey3;
            border: none;
        }

        & .numbar a.skip {
            color: $white1;
        }
    }

    & footer {
        color: $grey1;
        &:hover {
            color: $grey2;
        }
    }
}
