
#drawer {
    position: fixed;
    left: -$drawer-width;
    width: $drawer-width;
    height: 100vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background: $grey1;
    border: 1px solid $grey4;

    color: $white2;
    transition: left 410ms;
    z-index: 1;

    & .logo {
        padding: 0.9em 0.8em;

        text-align: center;
        font-family: Arial;
        font-size: 150%;
        font-weight: 600;
        line-height: 0.8;
        text-shadow: 0.1em 0.1em 0.3em $black1;

        background: $black2;
        cursor: default;

        & small {
            font-size: 50%;
            font-weight: normal;
        }
    }
}

input#drawer-toggle {
    display: none;
}

label[for="drawer-toggle"] {
    display: block;
    position: fixed;
    height: 2.2em;
    width: 2.2em;
    margin: 1em;
    left: 0;

    cursor: pointer;
    user-select: none;
    z-index: 1;

    transition: left 410ms, opacity 210ms;

    & .hamburger {
        display: block;
        position: absolute;
        top: 0.7em;
        height: 0.24em;
        width: 2.2em;

        background: $grey1;
        transition: background 500ms 300ms, box-shadow 210ms, opacity 500ms 300ms, transform 500ms 300ms;

        &:before, &:after {
            content: '';
            position: inherit;
            width: 2.2em;
            height: 0.24em;

            background: $grey1;
            transition: width 800ms 300ms, transform 500ms 300ms;
        }
        &:before {
            top: -0.7em;
        }
        &:after {
            top: 0.7em;
        }
    }
}


#drawer-toggle:checked {
    & ~ label[for="drawer-toggle"] {
        left: $drawer-width;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        & .hamburger {
            background: none;
            transform: translateX(-5em);
            &:before, &:after {
                background: $grey1;
                width: 1.5em;
            }
            &:before {
                transform: translateY(0.68em) translateX(5em) rotateZ(-43deg);
            }
            &:after {
                transform: translateY(-0.68em) translateX(5em) rotateZ(43deg);
            }
        }
    }

    & ~ #drawer {
        left: 0;
        box-shadow: 0.3em 0 0.5em $grey2;
    }

    & ~ .maincolumn {
        padding-left: $drawer-width;
    }
}