
input[type=button], button {
    flex: 1;
    padding: 0.5em;
    margin: 0 0.2em;


    font-family: monospace;
    font-size: 85%;
    color: $white2;

    background: $black2;
    cursor: pointer;
    border-width: 1px;
    border-color: $grey2;
    border-radius: 0.2em;

    transition: all 120ms;
}

input[name=theme]:hover {
    color: $grey2 !important;
}

input[name=reset]:hover {
    font-weight: 600;
    color: $white1;

    background: $red1 !important;
}


input[type=text], input[type=number] {
    width: 100%;
    padding: 0.3em 0.2em;

    color: $grey1;
    text-align: center;

    border-radius: 0.3em;
    border: 1px solid $black1;

    transition: box-shadow 250ms;
}