
@media screen and (max-width: 48rem) {

    label[for="drawer-toggle"] {
        transition: all 0s;
    }

    #drawer-toggle:checked {
        & ~ label[for="drawer-toggle"] {
            left: 100%;
            z-index: 2;

            & .hamburger {
                transform: translateX(-4rem);
                &:before {
                    background: $white3;
                    transform: translateY(0.68rem) rotateZ(-43deg);
                }
                &:after {
                    background: $white3;
                    transform: translateY(-0.68rem) rotateZ(43deg);
                }
            }
        }

        & ~ #drawer {
            left: 0;
            width: 100%;
        }

        & ~ .maincolumn {
            padding-left: 0;
        }
    }

    .maincolumn {
        transition: all 1s;
    }
}