#drawer {
    & input[type=radio] {
        display: none;
    }

    & .tab-buttons {
        display: flex;
        position: relative;
        width: 100%;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 33%;
            height: 0.2em;
            background: $blue3;
            transition: left 210ms;
        }

        & label {
            flex: 1;
            padding: 1em 0.4em;
            cursor: pointer;
            user-select: none;

            color: $white3;
            text-align: center;

            border-bottom: 1px solid $blue3;
            background: $blue1;
        }
    }

    & .tab-container {
        display: flex;
        position: absolute;

        height: parent;
        overflow: hidden;

        & .tab-panel {
            display: block;
            position: relative;
            width: $drawer-width;
            height: 0;
            overflow-y: hidden;
        }
    }

    & input[type=radio][value='1']:checked {
        & ~ .tab-container {
            left: 0;
            & .tab-panel#tab-1 {
                height: 100%;
            }
        }
        & ~ .tab-buttons:before {
            left: 0;
        }
    }
    & input[type=radio][value='2']:checked {
        & ~ .tab-container {
            left: -$drawer-width;
            & .tab-panel#tab-2 {
                height: 100%;
            }
        }
        & ~ .tab-buttons:before {
            left: 33%;
        }
    }
    & input[type=radio][value='3']:checked {
        & ~ .tab-container {
            left: -2*$drawer-width;
            & .tab-panel#tab-3 {
                height: 100%;
            }
        }
        & ~ .tab-buttons:before {
            left: 66%;
        }
    }
}
