
.referencecolumn {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    width: 100%;

    color: $white1;

    transition: all 1s;

    & header {
        padding: 1em;

        font-size: 150%;
        text-align: center;

        background: $black1;
    }

    & .reference {
        margin: 0.5em 1em;
        font-size: 90%;

        & p {
            margin: 0.3em 0;
        }
    }

    & .reference {
        width: 90%;
        margin: 0 auto 2em auto;

        & table {
            width: 100%;

            font-size: 90%;

            background: $grey1;
            border-collapse: collapse;

            & caption {
                padding: 0.8em 0em;
            }

            & thead th {
                padding: 0.8em 0.2em;
                border: 1px solid $white1;
            }

            & tbody td {
                padding: 0.5em;
                border: 1px solid $white1;

                &:first-child {
                    width: 1em;

                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}