/* Responsive and focus resets */

* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

html, body {
    width: 100%;
    overflow: hidden;
}

/* Box Sizing Reset, with inheritance */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* App Styles that apply generally */

body {
    overflow-x: hidden;
    min-height: 100vh;

    font-family: Trebuchet MS, Arial, sans-serif;

    transition: background 250ms;
}

a {
    color: $linkColor1;
}


/*

    UTILITY CLASSES AND SUCH ;P

 */

span[mono] {
    font-family: monospace;
}

span.dancing_man {
    &:before {
        content: "...";
        font-family: monospace;
        width: 100%;
        animation: dancing_content 2s infinite linear;
    }
}

span.spinner {
    display: inline-block;
    &:before {
        content: "|";
        font-family: Arial;
        margin: 0 0.4rem;
    }
    animation: spinner 1.5s infinite linear;
}

@keyframes dancing_content {
    0% {
        content: "/-(0.0)-/"
    }
    100% {
        content: "\\-(0.0)-\\"
    }
}

@keyframes spinner {
    0%   {
        opacity: 0.7;
        transform: rotateZ(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
        transform: rotateZ(359deg);
    }
}
