/* Responsive and focus resets */

* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

html, body {
    width: 100%;
    overflow: hidden;
}

/* Box Sizing Reset, with inheritance */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* App Styles that apply generally */

body {
    min-height: 100vh;
    overflow-x: hidden;

    font-family: Trebuchet MS, Arial, sans-serif;

    transition: background 150ms;
}

a {
    color: $linkColor1;
}