
.menucolumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 13em;

    color: $white2;

    background: $grey1;
    border: 1px solid $grey4;
    box-shadow: 0.1em 0 0.2em $grey2;

    & .logo {
        padding: 0.9em 0.8em;

        text-align: center;
        font-family: Arial;
        font-size: 150%;
        font-weight: 600;
        line-height: 0.8;
        text-shadow: 0.1em 0.1em 0.3em $black1;

        background: $black2;
        cursor: default;

        & small {
            font-size: 50%;
            font-weight: normal;
        }
    }


    & .readout, & .stagebanner {
        padding: 0.5em 0.8em;
        line-height: 1.4;
        background: $black3;
    }

    & .readout {
        cursor: default;

        & p.levelinfo {
            font-size: 80%;
            color: $grey3;
        }

        & .highscore, & .score  {
            margin-bottom: 0.2em;

            font-size: 75%;
            font-weight: bold;
            line-height: 1.2;
            color: $grey2;
        }

        & .score {
            font-size: 90%;

            &::before {
                content: "Score: ";
                color: $grey2;
            }
        }

        & .highscore::before {
            content: "Highest score: ";
            color: $grey2;
        }
    }

    & .stagebanner {
        cursor: pointer;

        &:hover {
            background: $grey1;
        }

        &:active {
            background: $black3;
        }
    }


    & .select {
        flex: 1;
        padding: 0.5em 0;
        user-select: none;

        & i {
            margin: 0.7em 0.8em;

            font-size: 80%;
            letter-spacing: 1px;
        }

        & ul {
            list-style: none;

            & li {
                margin: 0;
                padding: 0.6em 0.8em;

                font-size: 95%;
                letter-spacing: 0.02em;
                line-height: 0.9;
                color: $grey2;
                text-shadow: 0 0.01em 0.01em $grey1;

                border-bottom: 1px solid $grey4;
                cursor: pointer;
                transition: all 100ms;

                &:hover {
                    color: $grey3;
                    text-shadow: 0 0 0.2em $black1;
                    background: $grey1;
                }
                &:active {
                    color: $linkColor2;
                    text-shadow: 0 0 0.01em $linkColor3;
                }
                &[selected] {
                    color: $white3;
                    text-shadow: 0 0 0.01em $black1;

                    & small {
                        color: $grey3;
                    }
                }

                & small {
                    color: $grey2;
                    font-family: monospace;
                }

                & span {
                    vertical-align: baseline;
                    font-size: 60%;

                    &[progression="0"]::before {
                        content: '';
                        color: $grey2;
                    }
                    &[progression="1"]::before {
                        content: ' incomplete';
                        color: $incompleteColor;
                    }
                    &[progression="2"]::before {
                        content: ' passed';
                        color: $passedColor;
                    }
                    &[progression="3"]::before {
                        content: ' expert';
                        color: $expertColor;
                    }
                    &[progression="4"]::before {
                        content: ' master';
                        color: $masterColor;
                    }
                }
                & h4 span {
                    font-size: 60%;
                    color: $grey2;

                    &::before {
                        content: " Highest score: ";
                    }
                }
            }
        }
    }

    & .settings {
        display: flex;
        padding: 0.8em 0.4em;

        background: $black1;

        & input[name=reset]:hover {
            font-weight: 600;
            color: $white1;

            background: $red1 !important;
        }
        &  input[name=theme]:hover {
            color: $grey2 !important;
        }
    }
}




/* ASSISTANT COLUMN */


.assistantcolumn {
    display: flex;
    flex: 1.2;
    flex-direction: row;
    width: 100%;
    min-width: 12.5em;

    color: $white1;

    background: $grey1;
    transition: all 1s;

    &[hidden] {
        overflow: hidden;
        flex: 0;
        min-width: 1.5em;

        & .button {
            padding: 0 0.5em;

            & span::before {
                content: "<";
            }
        }

        & .panel {
            background: $grey1;
            opacity: 0.25;
        }
    }

    & .button {
        display: flex;
        width: 1.2em;
        align-items: center;
        justify-content: center;

        text-align: center;

        cursor: pointer;
        background: $black2;
        transition: all 1s;

        & span {
            font-family: Arial;
            font-weight: 600;

            &::before {
                content: ">";
            }
        }
    }

    & .panel {
        flex: 1;
        transition: all 1s;

        & header {
            padding: 1em;

            font-size: 150%;
            text-align: center;

            background: $grey1;
        }

        & .reference {
            margin: 0.5em 1em;
            font-size: 90%;

            & p {
                margin: 0.3em 0;
            }
        }

        & table {
            width: 100%;

            font-size: 90%;

            background: $grey1;
            border-collapse: collapse;

            & caption {
                padding: 0.8em 0em;
            }

            & thead th {
                padding: 0.8em 0.2em;
                border: 1px solid $white1;
            }

            & tbody td {
                padding: 0.5em;
                border: 1px solid $white1;

                &:first-child {
                    width: 1em;

                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}


