
.menucolumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 13em;

    color: #eee;

    background: #3B3B3B;
    border: 1px solid #111;
    box-shadow: 0.1em 0 0.2em #444;

    & .logo {
        padding: 0.9em 0.8em;

        text-align: center;
        font-family: Arial;
        font-size: 150%;
        font-weight: 600;
        line-height: 0.8;
        text-shadow: 0.1em 0.1em 0.3em #000;

        background: #111;
        cursor: default;

        & small {
            font-size: 50%;
            font-weight: normal;
        }
    }


    & .readout, & .stagebanner {
        padding: 0.5em 0.8em;
        line-height: 1.4;
        background: #222;
    }

    & .readout {
        cursor: default;

        & p.levelinfo {
            font-size: 80%;
            color: #ccc;
        }

        & .highscore, & .score  {
            margin-bottom: 0.2em;

            font-size: 75%;
            font-weight: bold;
            line-height: 1.2;
            color: #999;
        }

        & .score {
            font-size: 90%;

            &::before {
                content: "Score: ";
                color: #777;
            }
        }

        & .highscore::before {
            content: "Highest score: ";
            color: #777;
        }
    }

    & .stagebanner {
        cursor: pointer;

        &:hover {
            background: #1E1E1E;
        }

        &:active {
            background: #0E0E0E;
        }
    }


    & .select {
        flex: 1;
        padding: 0.5em 0;
        user-select: none;

        & i {
            margin: 0.7em 0.8em;

            font-size: 80%;
            letter-spacing: 1px;
        }

        & ul {
            list-style: none;

            & li {
                margin: 0;
                padding: 0.6em 0.8em;

                font-size: 95%;
                letter-spacing: 0.02em;
                line-height: 0.9;
                color: #aaa;
                text-shadow: 0 0.01em 0.01em #222;

                border-bottom: 1px solid #222;
                cursor: pointer;
                transition: all 100ms;

                &:hover {
                    color: #ccc;
                    text-shadow: 0 0 0.2em #000;
                    background: #444;
                }
                &:active {
                    color: #6D92B8;
                    text-shadow: 0 0 0.01em #16528A;
                }
                &[selected] {
                    color: #eee;
                    text-shadow: 0 0 0.01em #000;

                    & small {
                        color: #bbb;
                    }
                }

                & small {
                    color: #999;
                    font-family: monospace;
                }

                & span {
                    vertical-align: baseline;
                    font-size: 60%;

                    &[progression="0"]::before {
                        content: '';
                        color: #868686;
                    }
                    &[progression="1"]::before {
                        content: ' incomplete';
                        color: #C5B773;
                    }
                    &[progression="2"]::before {
                        content: ' passed';
                        color: #00BF04;
                    }
                    &[progression="3"]::before {
                        content: ' expert';
                        color: #BAFF00;
                    }
                    &[progression="4"]::before {
                        content: ' master';
                        color: #C765FF;
                    }
                }
                & h4 span {
                    font-size: 60%;
                    color: #959595;

                    &::before {
                        content: " Highest score: ";
                    }
                }
            }
        }
    }

    & .settings {
        display: flex;
        padding: 0.8em 0.4em;

        background: #111;

        & input[name=reset]:hover {
            font-weight: 600;
            color: #fff;

            background: #FF0000 !important;
        }
        &  input[name=theme]:hover {
            color: #909090 !important;
        }
    }
}




/* ASSISTANT COLUMN */


.assistantcolumn {
    display: flex;
    flex: 1.2;
    flex-direction: row;
    width: 100%;
    min-width: 12.5em;

    color: #fafafa;

    background: #333;
    transition: all 1s;

    &[hidden] {
        overflow: hidden;
        flex: 0;
        min-width: 1.5em;

        & .button {
            padding: 0 0.5em;

            & span::before {
                content: "<";
            }
        }

        & .panel {
            background: #222;
            opacity: 0.25;
        }
    }

    & .button {
        display: flex;
        width: 1.2em;
        align-items: center;
        justify-content: center;

        text-align: center;

        cursor: pointer;
        background: #111;
        transition: all 1s;

        & span {
            font-family: Arial;
            font-weight: 600;

            &::before {
                content: ">";
            }
        }
    }

    & .panel {
        flex: 1;
        transition: all 1s;

        & header {
            padding: 1em;

            font-size: 150%;
            text-align: center;

            background: #1E1E1E;
        }

        & .reference {
            margin: 0.5em 1em;
            font-size: 90%;

            & p {
                margin: 0.3em 0;
            }
        }

        & table {
            width: 100%;

            font-size: 90%;

            background: #222;
            border-collapse: collapse;

            & caption {
                padding: 0.8em 0em;
            }

            & thead th {
                padding: 0.8em 0.2em;
                border: 1px solid #fafafa;
            }

            & tbody td {
                padding: 0.5em;
                border: 1px solid #fafafa;

                &:first-child {
                    width: 1em;

                    font-weight: 600;
                    text-align: center;
                }
            }
        }

        & .generator {
            margin: 1em 1em 0 1em;

            & span {
                display: block;
                margin: 0.5em 0;

                text-align: center;
                color: #ddd;
            }

            & p {
                margin: 0.5em 0;

                font-style: italic;
                font-size: 70%;
            }

            & input {
                flex-grow: 1;
                padding: 0.2em;
            }

            & button {
                padding: 0.2em;
                cursor: pointer;
            }

            & .inputs {
                display: flex;
                margin: 0.6em auto;
                width: 90%;
            }
        }
    }
}


